.topbar>.container  {
    background-color: #ebebeb;
}

#bgblock1 {
    background-color: khaki;
}

#txtblock1 {
    color: hotpink;
}

#h1block1 {
    color: indigo;
}

#row-logo, #content1 {
    padding-top: 20px;
}

#btn1 {
    border: 2px solid black;
    width: 150px;
    background-color: blue;
    color: red;
}

#btn2 {
    border: 2px solid black;
    width: 150px;
    background-color: blue;
    color: red;
}